<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.emprestaai">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmprestaAi"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ListaPedidos"
            android:exported="false"
            android:label="@string/activityListaPedidos" />
        <activity
            android:name=".AlugarObjeto"
            android:exported="false"
            android:label="@string/activityAlugarObjeto" />
        <activity
            android:name=".PesquisarObjetos"
            android:exported="true"
            android:label="@string/activityPesquisar"
            android:theme="@style/Theme.EmprestaAi.NoActionBar"></activity>
        <activity
            android:name=".VisualizarObjeto"
            android:exported="false"
            android:label="@string/activityVisualizarObjeto" />
        <activity
            android:name=".NovoObjeto"
            android:exported="false"
            android:label="@string/activityNovoObjeto" />
        <activity
            android:name=".MeusObjetos"
            android:exported="true"
            android:label="@string/activityMeusObjetos">

        </activity>
        <activity
            android:name=".Cadastro"
            android:exported="false"
            android:label="@string/activityCadastro" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:exported="false"
            android:label="@string/activityLogin" />
        <activity
            android:name=".Solicitacoes"
            android:exported="false"
            android:label="@string/activityLogin" />
    </application>

</manifest>